<div *ngIf="user" class="flex justify-center items-center">
  <span class="text-sm p-2 text-gray-400" *ngIf="!editing; else bioTextArea">
    {{user.bio ? user.bio : 'Add a bio...'}}
  </span>
  <ng-template #bioTextArea>
    <textarea [(ngModel)]="user.bio" [autofocus]="editing" (blur)="textBlur()" class="text-sm p-2 resize-none outline-none border-b-2 border-b-primary" rows="1" placeholder="Add a bio..."></textarea>
  </ng-template>
  <button (click)="buttonAction()" type="button" class="text-center mx-1 active:scale-95 transition-transform rounded">
    <fa-icon [icon]="editing ? 'save' : 'edit'"></fa-icon>
  </button>
</div>
