<div class="bg-white m-3 p-2 pr-0 flex flex-col rounded shadow">
  <div class="flex">
    <div class="flex flex-col flex-grow mr-1 justify-around">
      <div class="flex w-full items-center">
        <div class="flex-shrink">
          <app-user-avatar [user]="author"></app-user-avatar>
        </div>
        <div class="flex-grow">
          <div class="p-1 flex items-center">
            <div class="font-bold">{{cluck.author}}</div>
            <div class="text-xs text-gray-400 mx-2">{{cluck.posted | timeAgo}}</div>
          </div>
        </div>
      </div>
      <div class="px-1 py-4">
        <div>{{cluck.body}}</div>
      </div>
      <div class="mt-1 border-t flex justify-evenly">
        <button type="button" class="w-full rounded active:bg-gray-50 m-0 p-2 transition-colors text-primary">
          <span class="mx-2 text-xs my-1">{{cluck.commentCount | abbreviateCount}}</span>
          <fa-icon icon="commenting"></fa-icon>
        </button>
        <div class="w-[1px] bg-gray-200 my-1"></div>
        <button type="button" class="w-full rounded active:bg-gray-50 m-0 p-2 transition-colors">
          <fa-icon icon="share-nodes" class="text-primary"></fa-icon>
        </button>
      </div>
    </div>
    <div class="border-l py-2 flex-shrink flex flex-col items-center my-auto justify-between text-primary text-center">
      <button type="button" class="flex-grow m-0 p-2.5 w-full active:bg-gray-50 transition-colors">
        <fa-icon icon="plus"></fa-icon>
      </button>
      <div class="border-y p-2 mx-1 text-center flex-shrink flex items-center">
        <textarea class="text-xs text-center resize-none outline-none" rows="1" cols="3" [readOnly]="true">{{cluck.eggRating | abbreviateCount}}</textarea>
        <fa-icon icon="egg"></fa-icon>
      </div>
      <button type="button" class="flex-grow w-full m-0 p-2.5 active:bg-gray-50 transition-colors">
        <fa-icon icon="minus"></fa-icon>
      </button>
    </div>
  </div>
</div>
