<ngx-pull-to-refresh (refresh)="refreshClucks($event)"
                     (loadMore)="loadMore()"
                     [spinnerSize]="30"
                     [targetElement]="targetElement"
                     [distanceForRefresh]="90"
                     spinnerColor="#ff5757"
                     [isEnable]="true">
  <div *ngIf="cluckLoader.clucks">
    <app-cluck-view *ngFor="let cluck of cluckLoader.clucks; trackBy: trackByCluckId"
                    [cluck]="cluck" (commentButtonActive)="openCommentScreen($event)"></app-cluck-view>
  </div>
</ngx-pull-to-refresh>

<div class="top-0 left-0 z-10 absolute" *ngIf="activeCluck">
  <div class="absolute top-0 left-0">
    <app-comment-form [(show)]="showComments" [cluck]="activeCluck" (cluckChange)="activeCluckChanged($event)"></app-comment-form>
  </div>
</div>
