<div class="container py-2">
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>
  <app-cluck-view [cluck]="testCluck"></app-cluck-view>

</div>
