<div class="flex flex-col justify-end items-center h-screen bg-primary">
  <div class="my-36">
    <img class="max-w-[300px]" src="assets/images/clucker_banner_reversed_400×100.png" alt="clucker" draggable="false" />
  </div>
  <div class="flex justify-center items-end">
    <div class="flex justify-center items-center flex-col bg-white w-[80vw] md:w-[400px] h-full rounded-t-xl px-12 pt-12 shadow border">
      <div class="mx-auto">
        <router-outlet></router-outlet>
      </div>
      <div class="text-gray-400 mt-20 mb-3">
        &copy; Clucker 2022
      </div>
    </div>
  </div>
</div>

