<div class="absolute top-0 left-0 min-h-screen w-screen bg-primary overflow-y-hidden overflow-x-hidden">
</div>
<div class="md:hidden egg">
</div>
<div class="absolute top-0 left-0 w-screen min-h-screen">
  <div class="flex flex-col md:flex-row justify-around items-center w-full min-h-screen">
    <div class="flex justify-start mx-5">
      <img src="./assets/images/clucker_banner_reversed_400×100.png" alt="Clucker"/>
    </div>
    <div class="my-5 md:bg-white p-8 md:rounded-2xl md:shadow-2xl">
      <div class="text-2xl mb-16 text-center">
        Enter your <span class="font-bold">username</span>.
      </div>
      <div class="my-5 text-xl">
        <input type="text" class="rounded-full outline-none px-5 py-2 border-4 border-gray-300" placeholder="Who are you?"/>

        <div class="my-5">
          <button type="button" class="text-center w-full bg-primary text-white rounded-full py-2">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

